<div class="todo-item">
  <h3>
    <strong [class]="'status ' + statusCls ">{{statusLabel}}</strong>
    <span (click)="editName.emit()">
      {{todo.name}}
    </span>
  </h3>
  <p class="description" (click)="editDescription.emit()">
    {{todo.description}}
  </p>
  <div class="actions">
    <ng-container *ngIf="deleted">
      <button
        *ngIf="deleted"
        type="button"
        (click)="markTodoDeleted.emit()"
        class="btn sm outline"
      >
        Restore
      </button>
      <button
        *ngIf="deleted"
        type="button"
        (click)="restoreTodo.emit()"
        class="btn sm outline"
      >
        Permanently Delete
      </button>
    </ng-container>
    <ng-container *ngIf="!deleted">
      <button type="button" (click)="completeTodo.emit()" class="btn sm cta">
        {{completed ? 'Move in Progress' : 'Mark as Done'}}
      </button>
      <button
        type="button"
        (click)="deleteTodo.emit()"
        class="btn sm outline"
      >
        Delete
      </button>
    </ng-container>
  </div>
</div>
